.navbar-brand{
    font-size: 40px;
}

nav {
    background-color: #3b7f7f;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
  }
  
  .navbar-nav .nav-link:hover {
    color: 	#fff3b0!important; /* Lighter color when hovered */
  }